<!DOCTYPE html>
<html>
    <head>
        <title>outputPage</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/outputPage.css')}}" />
        <link rel="stylesheet" href="../static/css/outputPage.css" />

    </head>
    <body>
        <header>
            <img id="logo" src="{{ url_for('static', filename='logo/fairytale_Logo_2.png')}}" alt="로고"/>
        </header>

        <!--<div id="outputDiv">
            <div id="plotContents">
                {% if title == "0"%}
                    <h2>백설공주</h2>
                {% elif title == "1"%}
                    <h2>신데렐라</h2>
                {% elif title == "2"%}
                    <h2>콩쥐와 팥쥐</h2>
                {% elif title == "#" %}
                    <h2 color="red">! 주의 : 주제가 없습니다.</h2>
                {% else %}
                    <h2>{{title}}</h2>
                {% endif %}
                
                <p>{{plot}}</p>
            </div>
            <div id="imagesContents">
                {%for i in images%}
                    <img src="static/uploads/{{i}}" />
                {% endfor %}
            </div>
        </div>-->

        <div id="outputPdf">
            <button>
                <a href="/static/web/viewer.html?file=/static/uploads/result.pdf">
                    pdf로 크게보기
                </a>
            </button>
            <br>
            <div id="innerPdf">
                <iframe src="/static/web/viewer.html?file=/static/uploads/result.pdf" width="32em" height="16em"></iframe>
            </div>
        </div>

        <div id="buttons">
            <button onclick="location.href='/delete'">
                <h2>메인 홈페이지</h2>
            </button>
            <button onClick="">
                <a href="{{ url_for('static', filename='uploads/result.pdf')}}" download>
                    <h2>다운로드</h2>
                </a>
            </button>
        </div>

        <footer>
            <div id="teamInfo">
                <b>TEAM : ACT</b>
                <p>
                    TEAM INFO<br />
                    email : wlaosxm@gmail.com<br />
                    github : <a href="https://github.com/Chun-Jihun/capstonedesign">github site</a>
                </p>
            </div>
            <img id="bottomLogo" src="{{url_for('static', filename='logo/ACT_Logo.png')}}" />
        </footer>
    </body>
</html>